body{
    text-align: center;
}

#jeu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
    margin: auto;
}

.casse{
    border: 1px solid black;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 90px;
}